html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

.splash-page {
  display:flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  position: sticky;
  justify-content: space-around;
  height: 75px; 

}


.headline-div {
  display: flex;
  justify-content: space-around;
  background-color: whitesmoke;
  height:500px;
}

.overlay-box {
  width:33%;
  background-color:#18191A;
  margin-bottom: 25px;
  border-bottom-left-radius: 10px;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content:center;
  width: 57%;
  padding-left: 10%;
  padding-bottom: 10%;
  background-color: whitesmoke;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.headline h1 {
  font-size: 80px;
  text-align: left;
  margin: 0 
}
.headline h2 {
  font-size: 20px;
  text-align: left;
  margin: 0
}

.logo {
  display: flex;
  align-items:center;
  justify-content: flex-end;
  background-color: whitesmoke;
  height:100%;
  width: 67%;
}

.nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-evenly;
  background-color: #18191A;
  height:100%;
  width: 33%; 
}

  /* For the aesthetics */
  .nav-button {
    background-color: transparent;
    color: white;
    border: none;
    font-size:20px;
    transition-duration: 0.5s;
    text-align: center;
    /*border: 2px solid white;*/
    width:33.333%;
    height:100%;
  }

  /* Makes the whole button clickable */
  .nav-button a { 
    display: block; 
  }

  .nav-button:hover {
    background-color: whitesmoke;
    color: #18191A;
  }

  .nav-button:active {
    border-style: outset;    
  }

  .pfp {
    position: absolute; 
    left: 57.25%; 
    top: 27.5%; 
    border-radius: 50%; 
    width:20%;
    aspect-ratio: 1 / 1;
    overflow:hidden;
    border: 2px solid whitesmoke;
  }

  
.about-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  color: whitesmoke;
  background-color: gray;
  margin-right: 50px;
  padding-left:10px;
  padding-right:10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*portfolio*/
.portfolio {
  display: flex;
  background-color: #18191A;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap;
  height: 750px;
}

.proj-container {
  display: flex;
  background-color: transparent;
  flex-direction: row;
  justify-content: space-between;
  width: 45%;
  gap: 20px;
  height: 40%;
  overflow:hidden;
  
}
  

.proj-img {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  background-color: white;
  width:50%;
  height:100%;
  border-radius: 10px;
  overflow: hidden;
}

.proj-img img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}

.container-img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 43%;
}

.proj-col {
  display: flex;
  background-color: transparent;
  flex-direction: column;
  gap: 20px;
  width:50%;
  height:100%;
}

.proj-name {
  display: flex;
  align-items:center;
  justify-content:center;
  background-color: white;
  height:25%;
  width:100%;
  border-radius: 10px;
  color:black;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

.proj-desc {
  display: flex;
  align-items:top;
  justify-content:left;
  background-color: white;
  height:75%;
  width:99%;
  border-radius: 10px;
  color:black;
  font-size:14px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-right:1%;
}

/*contact*/
.contact {
  
  display: flex;
  flex-direction: column;
  justify-items:center;
  align-items: center;
  background-color: grey;
  color:white;
  padding-bottom: 10px;
}

.contact-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}